h1 {
	color: black;
	text-align: left;
	text-decoration: underline;

}

body {
	font-family: Arial;
}

h2 {
	color: #396682;
	font-family: Arial;
}

h3 {
	color: #648BA5;
	font-family: Arial;
	
}

h4 {
	color: #7B7C7C;
	font-family: Arial;

p {
	color: #272727;
	font-family: Arial;
	font-size: 13pt;

}

li {
	color: #272727;
	font-family: Arial;
	font-size: 13pt;
}